/* Root Variables */
:root {
    --tblr-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

/* Utility */
.flex-none {
    flex: none;
}

.hidden-if-empty {
    display: none;
}

.hidden-if-empty:has(*) {
    display: block;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* Navbar */
.navbar-nav {
    --tblr-nav-link-color: var(--tblr-gray-700);
}

.nav-item.active .nav-link {
    color: var(--tblr-primary);
}

.nav-item.active .icon {
    color: var(--tblr-primary);
}

.bg-primary .navbar-toggler {
    color: white;
}

/* Datatables */
.datatable thead {
    border-color: var(--tblr-border-color) !important;
}

.datatable th {
    font-size: .875rem !important;
    padding: .875rem 1rem !important;
    color: var(--tblr-primary) !important;
    background: var(--tblr-primary-lt) !important;
}

.datatable .badge {
    user-select: auto;
    font-size: .8125rem !important;
}

.datatable .icon {
    --tblr-icon-size: 1.4rem;
}

.datatable .letter-title {
    max-width: 280px;
}

/* Table */
.table-responsive .dropdown,
.table-responsive .btn-group,
.table-responsive .btn-group-vertical {
    position: static;
}

/* Datagrid */
table.datagrid {
    width: auto;
}

table .datagrid-title {
    font-size: .875rem;
    padding-right: 1rem;
}

.datagrid-title {
    font-size: .875rem;
}

/* Buttons */
.btn.btn-filter:not(.collapsed) {
    color: var(--tblr-btn-active-color);
    background-color: var(--tblr-btn-active-bg);
    border-color: var(--tblr-btn-active-border-color);
    box-shadow: var(--tblr-btn-active-shadow);
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.repeater-delete {
    background-color: rgba(var(--tblr-secondary-rgb), .08);
    border-color: var(--tblr-btn-hover-border-color);
}

/* Cards */
.card .icon {
    flex: none;
}

.card-mafindo {
    border-color: var(--tblr-border-color) !important;
}

.card-mafindo>.card-header {
    color: var(--tblr-primary) !important;
    background-color: var(--tblr-primary-lt) !important;
    border-radius: var(--tblr-card-inner-border-radius) var(--tblr-card-inner-border-radius) 0 0 !important;
    padding: .875rem 1rem;
}

.card-title {
    font-weight: 600;
}

.card-title.d-flex {
    flex-wrap: wrap;
}

/* Stepper */
.stepper-wrap {
    overflow: hidden;
}

.card-body:first-child .stepper-wrap {
    border-top-left-radius: var(--tblr-card-inner-border-radius);
    border-top-right-radius: var(--tblr-card-inner-border-radius);
}

.card-body:last-child .stepper-wrap {
    border-bottom-left-radius: var(--tblr-card-inner-border-radius);
    border-bottom-right-radius: var(--tblr-card-inner-border-radius);
}

.stepper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 0 -2px -1px 0;
}

.stepper-item {
    flex: 1 1 auto;
    padding: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--tblr-green);
    border-right: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    border-bottom: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
}

.stepper-item.active {
    background: var(--tblr-blue);
}

.stepper-item.danger {
    background: var(--tblr-red-lt);
    color: var(--tblr-dark);
}

.stepper-item.active~.stepper-item,
.stepper-item.danger~.stepper-item {
    background: var(--tblr-azure-lt);
    color: var(--tblr-dark);
}

/* Dropdowns */
.dropdown-item.active {
    background-color: var(--tblr-primary-lt);
}

/* Panels */
.panel-tabs .nav-link {
    padding: .75rem 1.25rem;
    font-weight: 500;
    background-color: var(--tblr-gray-100);
}

.panel-tabs .nav-item+.nav-item {
    margin-left: 0;
    border-left: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
}

.panel-tabs .nav-link.active {
    background-color: var(--tblr-primary-lt);
}

.panel-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: var(--tblr-border-radius);
}

.panel-tabs .nav-item:last-child .nav-link {
    border-top-right-radius: var(--tblr-border-radius);
}

/* Trix Editor */
trix-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

trix-toolbar .trix-button {
    background: #fff !important;
}

trix-editor {
    min-height: 180px !important;
}

trix-editor.form-control.is-invalid {
    background: unset;
}

/* Misc */
.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}

.toc-item {
    padding: .75rem 1rem;
}

/* Media Queries */
@media (max-width: 767.98px) {
    .table-mobile-md .btn {
        display: flex;
    }

    .table-mobile-md tr {
        padding: .25rem 0;
    }

    .table-mobile-md tr:not(:last-child) {
        border-bottom: solid 16px var(--tblr-primary-lt);
    }

    .table-mobile-md td[data-label]::before {
        margin-bottom: .5rem;
    }

    .datatable .letter-title {
        max-width: 100%;
    }

    .navbar-expand-md .navbar-collapse .dropdown-menu .dropdown-item.active,
    .navbar-expand-md .navbar-collapse .dropdown-menu .dropdown-item:active {
        background: var(--tblr-primary-lt);
        color: var(--tblr-primary);
    }

    .navbar-expand-md .navbar-collapse .dropdown-menu .dropdown-item {
        color: var(--tblr-gray-700);
    }
}