:root{
    --tblr-font-sans-serif: 'Noto Serif', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --secondary-yellow: #f7f7eb;
}

/** Navbar Custom **/

.bg-primary .navbar-toggler {
    color: white;
}

.nav-link .icon,
.dropdown-item-icon {
    color: var(--tblr-dark);
}

.nav-link:hover .icon {
    color: var(--tblr-nav-link-hover-color);
}

/** Datatable **/
.datatable th {
    font-size: .875rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    color: var(--tblr-dark) !important;
}

.table-responsive .dropdown,
.table-responsive .btn-group,
.table-responsive .btn-group-vertical {
    position: static;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/** Button Custom **/

.btn-sec-yellow{
    background-color: var(--secondary-yellow);
}

/** Design System**/

#dash-admin .icon{
    --tblr-icon-size: 3rem !important;
}

@media (min-width: 992px) {
    .page-title{
        font-size: 1.4rem !important;
    }

    #dash-admin .icon{
        --tblr-icon-size: 5rem !important;
    }

    #dash-admin .card .card{
        height: 15rem !important;
    }

}
